.modal-wrapper
    .modal-overlay
        .modal-window
            .modal-header
                span.modal-title Modal title 
                span.modal-close &times;
            .modal-body 
                p dwadwadad
                p dwadwadad
            .modal-footer
                button OK