//- .preview
//- .preview__preview-photo
//- .preview__preview-info 
//-     .info-name Gaivoronyuk Yaroslavna
//-     .info-description I'm Web Developer
//- .down-arrow-button
//-     .btn-wrapper
//-         .btn-wrapper__arrow

.preview__preview-photo
.preview__preview-info 
    .info-name 
        h1(data-text='Hi, my name is Yaroslavna')
            span(data-text='And I am web developer!!!' class='preview-text') Hi, my name is Yaroslavna<br>And I am web developer!!!
    //- .info-description I'm Web Developer
.main-arrow-wrap
    a.down-arrow-button(href='#about me')
        .btn-wrapper
            .btn-wrapper__arrow